@import url(header.css);
@import url(help.css);
@import url(error.css);
@import url(calc.css);
@import url(graph.css);
@import url(vars.css);

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 530px;
    min-height: 700px;
    margin: 0;
    user-select: none;
    overflow: hidden;
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: monospace;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 75px;
    height: 100%;
    min-height: 75px;
    font-size: 4dvmin;
    border: none;
    border-radius: 0.5dvw;
    background-color: var(--btn-default-background-color);
    color: var(--btn-default-text-color);
    cursor: pointer;
    transition: filter 0.1s ease-in;
}

.btn:hover {
    filter: invert(20%);
    transition: none;
}

.btn:active {
    filter: invert(75%);
    transition: none;
}

.block-background {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

.scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;

    &::-webkit-scrollbar {
        width: 1dvw;
        height: 1dvh;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--btn-default-background-color);
        border-radius: 10px;
    }
}
