:root {
    --main-background-color: #c8c3ac;
    --text-color: #4b483f;
    --btn-default-background-color: #4b483f;
    --btn-default-text-color: #c8c3ac;
    --block-background-color: #e7e2c8;
    --input-background-color: #fff9dd;
    --canvas-background-color: #373c53;
}